main.about-page{
    div.about-section{
        width: 100%;
        min-height: 80vh;
        height: auto;
        @include notLandingPageImagedBackground(to left);
        @include flex-row-between-center();
        align-items: center;
        position: relative;
        & > div{
            width: 50%;
        }
        div.about{
            color: white;
            div.description{
                margin: 0px 100px 0px 0px;
                font-size: $font4;
                line-height: 40px;
            }
        }

        div.tv{
            height: 100%;
            position: relative;
            @include flex-center-center();
            div.screen{
                position: absolute;
                width: 58.5%;
                padding-top: 32%;
                margin-bottom: 6%;
                background-color: rgba(255,255,255,0.3);
                animation: tv 0.25s infinite alternate-reverse;
            }
            img{
                width: 60%;
            }
        }
    }

    div.work-section{
        height: 100vh;
        position: relative;
        @include notLandingPageImagedBackground(to right);
        @include flex-row-reverse-between-center();
        & > div{
            width: 50%;
        }

        div.work-intro{
            color: white;
            @include flex-column-center();
            text-align: center;
            p.title{
                font-size: $font2;
                font-weight: bold;
                @include fadeWhenNotScrolled(0, -200px);
            }
            p.message{
                font-size: $font4;
                color: rgb(179, 179, 179);
                padding: 50px 70px;
            }
            a{
                @include all-works-button();
            }
        }

        div.works{
            height: 100%;
            position: relative;
            @include flex-column-center();
            overflow-y: auto;

            div.work{
                width: 60%;
                margin: 75px 0px;
                border: none;
            }
            
            p.not-found-message{
                position: relative;
                top: 45%;
            }
        }

        div.top-darken, div.bottom-darken{
            position: absolute;
            width: 100%;
            padding-top: 10%;
            right: 0;
            z-index: 100;
        }
        div.top-darken{
            top: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }
        div.bottom-darken{
            bottom: 0;
            background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
        }

        .keep-scrolling {
            @include scrollBarDeleter();    
        }

        a.all-works-mobile{
            @include all-works-button();
            margin-top: 20px;
            display: none;
        }
           
    }

    div.service-work-seperator{
        @include quote-seperator();
        background-color: black;
        border-style: dotted none;
        border-width: 3px;
        border-color: $bloody_red;
    }

    div.team-section{
        min-height: 100vh;
        height: auto;
        background:linear-gradient(to bottom, black 10%, #1b1b1b);
        @include flex-column-center();

        div.team-intro{
            margin-top: 100px;
            width: 80%;
            font-size: $font2;
            font-weight: bold;
            color: white;
            p.title{
                @include fadeWhenNotScrolled(20px, -20px);
            }
        }
        div.team-members{
            margin-top: 50px;
            width: 80%;
            @include flex-row-between-center();
            flex-wrap: wrap;

            div.not-found-warning{
                font-size: $font4;
                color: white;
            }

            div.member{
                width:200px;
                margin: 20px;
                text-align: center;
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    filter: grayscale(100%);
                    transition: all 0.25s;
                    &:hover{
                        filter: grayscale(0%);
                    }
                }
                p.member-name{
                    font-size: $font3;
                    color: white;
                }
                p.member-about{
                    font-size: $font4;
                    color: rgb(187, 187, 187);
                }
            }
        }
    }
}



// Responsive Codes
@media only screen and (max-width: 900px) and (min-width: 700px){
    div.team-section{
        div.team{
            div.team-intro{
                margin: 0px 50px 0px 0px !important;
            }
            div.description{
                margin: 0px 50px 0px 0px !important;
            }
        }
    }

    div.work-section{
        div.work-intro{
            a{
                @include all-works-button();
                padding: 10px 40px;
            }
        }         
    }
}

@media only screen and (max-width:700px){
    main.about-page{
        div.about-section{
            background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url('../../files/about-page.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            align-items: center;
            div.about{
                width: 100%;
                div.description{
                    margin: 0px 0px 0px 0px;
                    @include flex-column-center();
                    padding: 50px;
                }
            }
    
            div.tv{
                display: none;
            }
        }

        div.work-section{
            min-height: 100vh;
            height: auto;
            padding-bottom: 100px;
            background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url('../../files/about-page.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            @include flex-column-center();
            & > div{
                width: 100%;
            }
    
            div.work-intro{
                margin-top: 100px;
                p.title{
                    font-size: $font2_responsive !important;
                }
                a.all-works-desktop{
                    display: none;
                }
            }
    
            div.works{
                height: auto;
                div.work{
                    width: 60%;
                    margin: 10px 0px;
                }
                
            }
    
            div.top-darken, div.bottom-darken{
                display: none;
            }

            a.all-works-mobile{
                display: inline-block;
                padding: 15px 0px;
                text-align: center;
                width: 60%;
            }
               
        }

        div.team-section{
            padding-bottom: 100px;
            div.team-intro{
                font-size: $font2_responsive !important;
                text-align: center;
            }
            div.team-members{
                @include flex-center-center();
            }
        }
    }
}

@media only screen and (max-width:450px){
    header{
    
        div.header-introduction{
    
            div.content{
                h1{
                    font-size: $font1_responsive;
                    color: $bloody_red;
                }
                p{
                    font-size: $font4_responsive;
                    position: static;
                }
            }
        }
    }

    main.about-page{
        div.header-seperator, div.service-work-seperator{
            @include quote-seperator-responsive();
        }
    }
}