header.home-page{
    position: relative;
    video{
        width: 100%;
    }

    div.header-introduction{
        @include flex-center-center();

        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.3);
        height: 98.5%;
        width: 100%;
        color: white;

        div.content{
            @include flex-column();
            position: relative;
            left: 20%;
            bottom: 10%;
            h1{
                font-size: $font1;
                color: $bloody_red;
                font-family: oswald;
                animation: header_title 0.25s infinite alternate-reverse;
                animation-timing-function: ease-in-out;
                transition: all 0.5s;
            }
            h1:hover{
                color: white;
            }
            p{
                font-size: $font4;
                position: relative;
                bottom: 30px;
            }
        }
    }
}

main.home-page{
    margin-top: -15px;
    div.header-seperator{
        @include quote-seperator();
        background-color: $bloody_red;
    }

    div.services-section{
        width: 100%;
        min-height: 100vh;
        height: auto;
        @include landingPageimagedBackground(to left);
        @include flex-row();
        align-items: center;
        position: relative;
        & > div{
            width: 50%;
        }
        div.services{
            color: white;
            
            div.services-intro{
                margin: 0px 100px 0px 0px;
                font-size: $font2;
                font-weight: bold;
                @include fadeWhenNotScrolled(20px, -20px);
            }
            div.services-options{
                ul{
                    margin: 0px 100px 0px 0px;
                    list-style: none;
                    li{
                        font-size: $font4;
                        margin: 30px 50px 0px 0px;
                        color: rgb(179, 179, 179);
                        &::before{
                            content: "\2022"; 
                            color: $bloody_red; 
                            font-weight: bold; 
                            display: inline-block; 
                            width: 1em; 
                        }
                    }
                }
            }
        }

        div.laptop{
            height: 100%;
            position: relative;
            @include flex-center-center();
            div.screen{
                position: absolute;
                width: 37%;
                padding-top: 23%;
                margin-bottom: 11%;
                background-color: rgba(255,255,255,0.3);
                animation: tv 0.25s infinite alternate-reverse;
            }
            img{
                width: 50%;
            }
        }
    }

    div.work-section{
        height: 100vh;
        position: relative;
        @include landingPageimagedBackground(to right);
        @include flex-row-reverse-between-center();
        & > div{
            width: 50%;
        }

        div.work-intro{
            color: white;
            @include flex-column-center();
            text-align: center;
            p.title{
                font-size: $font2;
                font-weight: bold;
                @include fadeWhenNotScrolled(0, -200px);
            }
            p.message{
                font-size: $font4;
                color: rgb(179, 179, 179);
                padding: 50px 70px;
            }
            a{
                @include all-works-button();
            }
        }

        div.works{
            height: 100%;
            position: relative;
            @include flex-column-center();
            //justify-content: center;
            overflow-y: auto;

            div.work{
                width: 60%;
                margin: 75px 0px;
                border: none;
            }
            
            p.not-found-message{
                position: relative;
                top: 45%;
            }
        }

        div.top-darken, div.bottom-darken{
            position: absolute;
            width: 100%;
            padding-top: 10%;
            right: 0;
            z-index: 100;
        }
        div.top-darken{
            top: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }
        div.bottom-darken{
            bottom: 0;
            background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
        }

        .keep-scrolling {
            @include scrollBarDeleter();    
        }

        a.all-works-mobile{
            @include all-works-button();
            margin-top: 20px;
            display: none;
        }
           
    }

    div.service-work-seperator{
        @include quote-seperator();
        background-color: black;
        border-style: dotted none;
        border-width: 3px;
        border-color: $bloody_red;
    }

    div.corp-section{
        min-height: 100vh;
        height: auto;
        background:linear-gradient(to bottom, black 10%, #1b1b1b);
        @include flex-column-center();

        div.corp-intro{
            margin-top: 100px;
            width: 80%;
            font-size: $font2;
            font-weight: bold;
            color: white;
            p.title{
                @include fadeWhenNotScrolled(20px, -20px);
            }
        }
        div.corps{
            margin-top: 30px;
            width: 80%;
            @include flex-row();
            justify-content:  center;
            align-items: center;
            flex-wrap: wrap;

            div.corp{
                width:200px;
                margin: 0px 20px;
                img{
                    width: 100%;
                }
            }
        }
    }
}



// Responsive Codes
@media only screen and (max-width: 900px) and (min-width: 700px){
    div.services-section{
        div.services{
            div.services-intro{
                margin: 0px 50px 0px 0px !important;
            }
            div.services-options{
                ul{
                    margin: 0px 50px 0px 0px !important;
                }
            }
        }
    }

    div.work-section{
        div.work-intro{
            a{
                @include all-works-button();
                padding: 10px 40px;
            }
        }         
    }
}

@media only screen and (max-width:700px){
    nav{
        background-color: transparent;
        svg{
            display: none;
        }
    }
    
    header.home-page{
        width: 100%;
        min-height: 100vh;
        video{
            display: none
        }
    
        div.header-introduction{
            @include flex-center-center();

            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../files/mobile-background.jpeg');
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
    
            div.content{
                @include flex-column-center();
                position: static;
            }
        }
    }

    main.home-page{
        margin-top: -15px;
        div.services-section{
            background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url('../../files/services.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            align-items: center;
            div.services{
                width: 100%;
                text-align: center;

                div.services-intro{
                    margin: 0px 0px;
                    font-size: $font2_responsive !important;
                }
                div.services-options{
                    ul{
                        margin: 0px 0px 0px 0px;
                        @include flex-column-center();
                        li, div{
                            font-size: $font4_responsive !important;
                            margin: 15px 0px 0px 0px;
                            
                            &::before{
                                content: ""; 
                            }
                        }
                        div.seperator{
                            width: 30px;
                            height: 5px;
                            border-radius: 5px;
                            background-color: $bloody_red;
                        }
                    }
                }
            }
    
            div.laptop{
                display: none;
            }
        }

        div.work-section{
            min-height: 100vh;
            height: auto;
            padding-bottom: 100px;
            background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url('../../files/services.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            @include flex-column-center();
            & > div{
                width: 100%;
            }
    
            div.work-intro{
                margin-top: 100px;
                p.title{
                    font-size: $font2_responsive !important;
                }
                a.all-works-desktop{
                    display: none;
                }
            }
    
            div.works{
                height: auto;
                div.work{
                    width: 60%;
                    margin: 10px 0px;
                }
                
            }
    
            div.top-darken, div.bottom-darken{
                display: none;
            }

            a.all-works-mobile{
                display: inline-block;
                padding: 15px 0px;
                text-align: center;
                width: 60%;
            }
               
        }

        div.corp-section{
            padding-bottom: 100px;
            div.corp-intro{
                font-size: $font2_responsive !important;
                text-align: center;
            }
        }
    }
}

div.not-found-warning{
    font-size: $font4;
    color: white !important;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width:450px){
    header.home-page{
    
        div.header-introduction{
    
            div.content{
                h1{
                    font-size: $font1_responsive;
                    color: $bloody_red;
                }
                p{
                    font-size: $font4_responsive;
                    position: static;
                }
            }
        }
    }

    main.home-page{
        div.header-seperator, div.service-work-seperator{
            @include quote-seperator-responsive();
        }
    }
}