@keyframes header_title{
    0%{
        text-shadow: 5px 5px 1px rgba(181,3,3, 0.5);
    }
    10%{
        text-shadow: 5px 5px 1px rgba(181,3,3, 0);;
    }
    25%{
        text-shadow: 5px 5px 1px rgba(181,3,3, 0.5);;
    }
    34%{
        text-shadow: 5px 5px 1px rgba(181,3,3, 0);;
    }
    70%{
        text-shadow: 5px 5px 1px rgba(181,3,3, 0.5);;
    }
    78%{
        text-shadow: 5px 5px 1px rgba(181,3,3, 0);;
    }
    100%{
        text-shadow: 5px 5px 1px rgba(181,3,3, 0.5);;
    }
}

@keyframes tv{
    0%{
        background-color: rgba(255,255,255,0.3);
    }
    10%{
        background-color: rgba(255,255,255,0.2);
    }
    25%{
        background-color: rgba(255,255,255,0.3);
    }
    34%{
        background-color: rgba(255,255,255,0.2);
    }
    70%{
        background-color: rgba(255,255,255,0.3);
    }
    78%{
        background-color: rgba(255,255,255,0.2);
    }
    100%{
        background-color: rgba(255,255,255,0.3);
    }
}