{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'styles/css/main.css' %}">
</head>


<body>

  <div class="page-before-load">

  </div>

  <nav id="navbar">
      <button class="navbar-button">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </button>
      {% if request.path == "/" %}
      <div class="navigator">
          <div class="navigator-container">
            <div class="home-navigator navigator-button"></div>
            <div class="services-navigator navigator-button"></div>
            <div class="work-navigator navigator-button"></div>
            <div class="corp-navigator navigator-button"></div>
          </div>
      </div>
      {% endif %}
  </nav>

  <div class="menu">
    <div class="options">
      <div class="option">
        <a href="{% url 'main:home' %}" class="{% if request.path == '/' %}menu-active{% endif %}">
         خانه
        </a>
     </div>
     <div class="option">
          <a href="{% url 'main:about' %}" class="{% if request.path == '/about/' %}menu-active{% endif %}">
          درباره ما
          </a>
      </div>
      <div class="option">
        <a href="{% url 'main:work' %}" class="{% if request.path == '/work/' %}menu-active{% endif %}">
        پروژه ها
        </a>
      </div>
      <div class="option">
        <a href="{% url 'main:contact' %}" class="{% if request.path == '/contact/' %}menu-active{% endif %}">
        تماس با ما
        </a>
      </div>
    </div>
  </div>

    {% block 'content' %}

    {% endblock %}



    <footer>
      <div class="social-media">
        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a href=""><i class="fab fa-telegram-plane"></i></a>
        <a href=""><i class="fab fa-whatsapp"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="footer-quote">
          <div class="quote">تبلیغات خوب، باعث باهوش به نظر رسیدن کسب و کار است، اما تبلیغات عالی، باعث می‌شود مشتری حس هوشمندی داشته باشد!</div>
          <div class="author">"جو چرنوو - متخصص مارکتینگ در Pendo.io"</div>
      </div>
      <div class="footer-logo">
          TIZER
      </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    {% if request.path == "/" %}
      <script src="{% static 'styles/js/home.js' %}"></script>
    {% endif %}
    {% if request.path == "/about/" %}
      <script src="{% static 'styles/js/about.js' %}"></script>
    {% endif %}
    <script src="{% static 'styles/js/base.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/7b0dcc43a4.js" crossorigin="anonymous"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>