{% extends './base.html' %}

{% block 'content' %}
<header class="section">
    <video autoplay muted loop id="myVideo">
        {% load static %}
        <source src="{% static 'files/header.mp4' %}" type="video/mp4">
    </video>

    <div class="header-introduction">
        <div class="content">
            <h1>TIZER</h1>
            <p>تیزرهای تبلیغاتی متفاوت را با ما تجربه کنید</p>
        </div>
    </div>
</header>


<main>
    <div class="header-seperator">
        <div class="quote">
            اگر تصاویر هزاران کلمه ناگفته در خود دارند، ویدیو ها مانند یک کتابخانه هستند!
        </div>
        <div class="author">
           "سرینیواس نارایانان - سرپرست بخش هوش مصنوعی فیسبوک"
        </div>
    </div>

    <div class="services-section">
        <div class="services">
            <div class="services-intro intro">
                <p class="title">
                    خدماتی که به شما ارائه می‌دیم...
                </p>
            </div>
            <div class="services-options" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="1000" data-aos-once="true">
                <ul>
                    <li>تیزر های تبلیغاتی برای کسب و کار شما</li>
                    <div class="seperator"></div>
                    <li>مشاوره و طراحی استراتژی‌های تبلیغاتی</li>
                    <div class="seperator"></div>
                    <li>اشکال یابی و بهبود برنامه های تبلیغاتی</li>
                    <div class="seperator"></div>
                    <li>طراحی انواع پوستر و لوگو</li>
                    <div class="seperator"></div>
                    <li>ساخت انیمیشن</li>
                    <div class="seperator"></div>
                </ul>
            </div>
        </div>
        <div class="laptop">
            <div class="screen"></div>
            <img src="{% static 'files/laptop.png' %}" alt="">
        </div>
    </div>

    <div class="service-work-seperator">
        <div class="quote">
            اگر تصاویر هزاران کلمه ناگفته در خود دارند، ویدیو ها مانند یک کتابخانه هستند!
        </div>
        <div class="author">
           "سرینیواس نارایانان - سرپرست بخش هوش مصنوعی فیسبوک"
        </div>
    </div>

    <div class="work-section">
        <div class="work-intro intro">
            <p class="title" data-aos="fade" data-aos-duration="2000" data-aos-once="true">چندی از نمونه کار ها...</p>
            <p class="message" data-aos="fade" data-aos-duration="2000" data-aos-once="true" data-aos-delay="1000">
                تیم تیزر همواره سعی بر ارائه بهترین تیزرهای تبلیغاتی، جهت موفقیت کسب و کار شما در هر کمپین تبلیغاتی‌ دارد.
            </p>
            <a href="{% url 'main:work' %}" class="all-works-desktop" data-aos="fade" data-aos-duration="2000" data-aos-once="true" data-aos-delay="1000">
                مشاهده تمام نمونه کار ها
            </a>
        </div>
        <div class="top-darken"></div>
        <div class="works keep-scrolling">
            <div class="work">
                <div id="79039686089"><script type="text/JavaScript" src="https://www.aparat.com/embed/0klxC?data[rnddiv]=79039686089&data[responsive]=yes"></script></div>
            </div>
            <div class="work">
                <div id="10080156393"><script type="text/JavaScript" src="https://www.aparat.com/embed/NO5si?data[rnddiv]=10080156393&data[responsive]=yes"></script></div>
            </div>
            <div class="work">
                <div id="87668251956"><script type="text/JavaScript" src="https://www.aparat.com/embed/i2rXT?data[rnddiv]=87668251956&data[responsive]=yes"></script></div>
            </div>
        </div>
        <div class="bottom-darken"></div>
        <a href="{% url 'main:work' %}" class="all-works-mobile" data-aos="fade" data-aos-duration="2000" data-aos-once="true"">
                مشاهده تمام نمونه کارها
        </a>
    </div>

    <div class="corp-section">
        <div class="corp-intro intro">
            <p class="title">
                همکاری‌های ما
            </p>
        </div>
        <div class="corps">
            <div class="corp">
                <img src="{% static 'files/snapp.png' %}" alt="" class="corp-image">
            </div>
            <div class="corp">
                <img src="{% static 'files/snapp.png' %}" alt="" class="corp-image">
            </div>
            <div class="corp">
                <img src="{% static 'files/snapp.png' %}" alt="" class="corp-image">
            </div>
            <div class="corp">
                <img src="{% static 'files/snapp.png' %}" alt="" class="corp-image">
            </div>
            <div class="corp">
                <img src="{% static 'files/snapp.png' %}" alt="" class="corp-image">
            </div>
            <div class="corp">
                <img src="{% static 'files/snapp.png' %}" alt="" class="corp-image">
            </div>
            <div class="corp">
                <img src="{% static 'files/snapp.png' %}" alt="" class="corp-image">
            </div>
            <div class="corp">
                <img src="{% static 'files/snapp.png' %}" alt="" class="corp-image">
            </div>
        </div>
    </div>

</main>

{% endblock %}