// importing constants
@import 'constants/fonts';
@import 'constants/colors';
@import 'constants/flex';
@import 'constants/animations';

@import 'home';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'myFont';
    direction: rtl;
    //overflow-x: hidden;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

nav{
    width: 50px;
    min-height: 100vh;
    background-color: black;
    position:fixed;
    z-index: 1000;
    left: 0px;

    button.navbar-button{
        width: 100%;
        background-color: transparent;
        border: none;
        @include flex-column-center();
        margin-top: 15px;
        div{
            height: 3px;
            border-radius: 3px;
            width: 70%;
            background-color: rgb(184, 184, 184);
            margin-top: 10px;
            transition: all 1s;
            position: relative;
        }
    }

    .navbar-button-clicked{
        div{
            margin-top: 20px !important;
        }
    }

    div.navigator{
        margin-top: 10vw;
        width: 100%;
        height: 400px;
        @include flex-center-center();

        div.navigator-container{
            height: 350px;
            width: 5%;
            background-color: $heavyDark;
            @include flex-column-center();
            justify-content: space-around;
            border-radius: 10px;

            & > div{
                width: 10px;
                height: 10px;
                background-color: $darker_bloody_red;
                transition: all 0.5s;
                border-radius: 50%;
                &:hover{
                    width: 20px;
                    height: 20px;
                    background-color: $bloody_red !important;
                    box-shadow: 0px 0px 5px 5px $bloody_red;
                }
            }
        }

    }
}

div.menu{
    position: fixed;
    top: -1000px;
    z-index: 999; // must be lower than navbar z-index
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    @include flex-center-center();
    transition: all 1s;
    border-bottom: 3px solid $bloody_red;
    div.options{
        width: 100%;
        div.option{
            a{
                width: 100%;
                text-align: center;
                @include anchor();
                font-size: 1rem;
                color: white;
                padding: 25px 0px;
                transition: all 0.5s;
                font-weight: bold;
            }
            a:hover{
                color: $bloody_red;
                background-color: black;
            }
        }
    }
}

footer{
    width: 100%;
    background-color: $bloody_red;
    @include flex-row-between-center();
    padding: 50px;
    div.social-media{
        width: 20%;
        @include flex-row-around-center();
        a{
            font-size: $font3;
            color: white;
        }
    } 
    div.footer-quote{
        width: 50%;
        text-align: center;
        color: white;
        div.quote{
            font-size: $font4;
            padding: 0px 0px 5px 0px;
        }
        div.author{
            font-size: $font4_responsive;
            font-style: italic;
            color: rgba(255,255,255,0.4);
        }
    }
    div.footer-logo{
        width: 20%;
        text-align: center;
        color: white;
        font-size: $font3;
        font-weight: bold;
    }
}

.active{
    width: 20px !important;
    height: 20px !important;
    background-color: $bloody_red !important;
    box-shadow: 0px 0px 5px 5px $bloody_red;
}

// Responsive codes
@media only screen and (max-width:700px){
    nav{
        background-color: transparent;
        div.navigator{
            display: none;
        }
    }

    footer{
        min-height: 100vh;
        height: auto;
        width: 100%;
        background-color: $bloody_red;
        @include flex-column-center();
        padding: 50px;
        & > div{
            margin-top: 30px;
        }
        div.social-media{
            width: 70%;
            @include flex-row-around-center();
            a{
                font-size: $font2;
                color: white;
            }
        } 
        div.footer-quote{
            width: 100%;
            div.quote{
                font-size: $font4;
                padding: 0px 0px 5px 0px;
            }
            div.author{
                font-size: $font4_responsive;
                font-style: italic;
                color: rgba(255,255,255,0.4);
            }
        }
        div.footer-logo{
            width: 100%;
            text-align: center;
            color: white;
            font-size: $font3;
            font-weight: bold;
        }
    }
}
