@font-face {
  font-family: 'myFont';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'myFont_black';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/IRANSansWeb_Black.eot");
  src: url("../fonts/woff2/IRANSansWeb_Black.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Black.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Black.ttf") format("truetype");
}

@font-face {
  font-family: 'myFont_bold';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'myFont_medium';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'myFont_light';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: 'myFont_ultraLight';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

html {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1180));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

@-webkit-keyframes header_title {
  0% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0.5);
  }
  10% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0);
  }
  25% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0.5);
  }
  34% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0);
  }
  70% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0.5);
  }
  78% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0);
  }
  100% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0.5);
  }
}

@keyframes header_title {
  0% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0.5);
  }
  10% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0);
  }
  25% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0.5);
  }
  34% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0);
  }
  70% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0.5);
  }
  78% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0);
  }
  100% {
    text-shadow: 5px 5px 1px rgba(181, 3, 3, 0.5);
  }
}

@-webkit-keyframes tv {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  10% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  34% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  70% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  78% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@keyframes tv {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  10% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  34% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  70% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  78% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

header.home-page {
  position: relative;
}

header.home-page video {
  width: 100%;
}

header.home-page div.header-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 98.5%;
  width: 100%;
  color: white;
}

header.home-page div.header-introduction div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: 20%;
  bottom: 10%;
}

header.home-page div.header-introduction div.content h1 {
  font-size: 8rem;
  color: #b50303;
  font-family: oswald;
  animation: header_title 0.25s infinite alternate-reverse;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header.home-page div.header-introduction div.content h1:hover {
  color: white;
}

header.home-page div.header-introduction div.content p {
  font-size: 0.65rem;
  position: relative;
  bottom: 30px;
}

main.home-page {
  margin-top: -15px;
}

main.home-page div.header-seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
  color: white;
  background-color: #b50303;
}

main.home-page div.header-seperator div.quote {
  font-size: 0.65rem;
  padding: 0px 0px 5px 0px;
}

main.home-page div.header-seperator div.author {
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.4);
}

main.home-page div.services-section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.1))), url("../../files/services.jpg");
  background-image: linear-gradient(to left, black 20%, rgba(0, 0, 0, 0.4)), linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.1)), url("../../files/services.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main.home-page div.services-section > div {
  width: 50%;
}

main.home-page div.services-section div.services {
  color: white;
}

main.home-page div.services-section div.services div.services-intro {
  margin: 0px 100px 0px 0px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b50303;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

main.home-page div.services-section div.services div.services-options ul {
  margin: 0px 100px 0px 0px;
  list-style: none;
}

main.home-page div.services-section div.services div.services-options ul li {
  font-size: 0.65rem;
  margin: 30px 50px 0px 0px;
  color: #b3b3b3;
}

main.home-page div.services-section div.services div.services-options ul li::before {
  content: "\2022";
  color: #b50303;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

main.home-page div.services-section div.laptop {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.home-page div.services-section div.laptop div.screen {
  position: absolute;
  width: 37%;
  padding-top: 23%;
  margin-bottom: 11%;
  background-color: rgba(255, 255, 255, 0.3);
  animation: tv 0.25s infinite alternate-reverse;
}

main.home-page div.services-section div.laptop img {
  width: 50%;
}

main.home-page div.work-section {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, black), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.1))), url("../../files/services.jpg");
  background-image: linear-gradient(to right, black 20%, rgba(0, 0, 0, 0.4)), linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.1)), url("../../files/services.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.home-page div.work-section > div {
  width: 50%;
}

main.home-page div.work-section div.work-intro {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main.home-page div.work-section div.work-intro p.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b50303;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

main.home-page div.work-section div.work-intro p.message {
  font-size: 0.65rem;
  color: #b3b3b3;
  padding: 50px 70px;
}

main.home-page div.work-section div.work-intro a {
  background-color: #b50303;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 0.75rem;
}

main.home-page div.work-section div.works {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
}

main.home-page div.work-section div.works div.work {
  width: 60%;
  margin: 75px 0px;
  border: none;
}

main.home-page div.work-section div.top-darken, main.home-page div.work-section div.bottom-darken {
  position: absolute;
  width: 100%;
  padding-top: 10%;
  right: 0;
  z-index: 100;
}

main.home-page div.work-section div.top-darken {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

main.home-page div.work-section div.bottom-darken {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

main.home-page div.work-section .keep-scrolling {
  overflow-y: scroll;
  /* Add the ability to scroll y axis*/
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}

main.home-page div.work-section .keep-scrolling::-webkit-scrollbar {
  display: none;
}

main.home-page div.work-section a.all-works-mobile {
  background-color: #b50303;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 0.75rem;
  margin-top: 20px;
  display: none;
}

main.home-page div.service-work-seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
  color: white;
  background-color: black;
  border-style: dotted none;
  border-width: 3px;
  border-color: #b50303;
}

main.home-page div.service-work-seperator div.quote {
  font-size: 0.65rem;
  padding: 0px 0px 5px 0px;
}

main.home-page div.service-work-seperator div.author {
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.4);
}

main.home-page div.corp-section {
  min-height: 100vh;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, black), to(#1b1b1b));
  background: linear-gradient(to bottom, black 10%, #1b1b1b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.home-page div.corp-section div.corp-intro {
  margin-top: 100px;
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

main.home-page div.corp-section div.corp-intro p.title {
  color: #b50303;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

main.home-page div.corp-section div.corps {
  margin-top: 30px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.home-page div.corp-section div.corps div.corp {
  width: 200px;
  margin: 0px 20px;
}

main.home-page div.corp-section div.corps div.corp img {
  width: 100%;
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  div.services-section div.services div.services-intro {
    margin: 0px 50px 0px 0px !important;
  }
  div.services-section div.services div.services-options ul {
    margin: 0px 50px 0px 0px !important;
  }
  div.work-section div.work-intro a {
    background-color: #b50303;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 60px;
    font-size: 0.75rem;
    padding: 10px 40px;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    background-color: transparent;
  }
  nav svg {
    display: none;
  }
  header.home-page {
    width: 100%;
    min-height: 100vh;
  }
  header.home-page video {
    display: none;
  }
  header.home-page div.header-introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../files/mobile-background.jpeg");
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../files/mobile-background.jpeg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  header.home-page div.header-introduction div.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
  }
  main.home-page {
    margin-top: -15px;
  }
  main.home-page div.services-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../../files/services.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../files/services.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.home-page div.services-section div.services {
    width: 100%;
    text-align: center;
  }
  main.home-page div.services-section div.services div.services-intro {
    margin: 0px 0px;
    font-size: 1.2rem !important;
  }
  main.home-page div.services-section div.services div.services-options ul {
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.home-page div.services-section div.services div.services-options ul li, main.home-page div.services-section div.services div.services-options ul div {
    font-size: 0.8rem !important;
    margin: 15px 0px 0px 0px;
  }
  main.home-page div.services-section div.services div.services-options ul li::before, main.home-page div.services-section div.services div.services-options ul div::before {
    content: "";
  }
  main.home-page div.services-section div.services div.services-options ul div.seperator {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #b50303;
  }
  main.home-page div.services-section div.laptop {
    display: none;
  }
  main.home-page div.work-section {
    min-height: 100vh;
    height: auto;
    padding-bottom: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../../files/services.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../files/services.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.home-page div.work-section > div {
    width: 100%;
  }
  main.home-page div.work-section div.work-intro {
    margin-top: 100px;
  }
  main.home-page div.work-section div.work-intro p.title {
    font-size: 1.2rem !important;
  }
  main.home-page div.work-section div.work-intro a.all-works-desktop {
    display: none;
  }
  main.home-page div.work-section div.works {
    height: auto;
  }
  main.home-page div.work-section div.works div.work {
    width: 60%;
    margin: 10px 0px;
  }
  main.home-page div.work-section div.top-darken, main.home-page div.work-section div.bottom-darken {
    display: none;
  }
  main.home-page div.work-section a.all-works-mobile {
    display: inline-block;
    padding: 15px 0px;
    text-align: center;
    width: 60%;
  }
  main.home-page div.corp-section {
    padding-bottom: 100px;
  }
  main.home-page div.corp-section div.corp-intro {
    font-size: 1.2rem !important;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  header.home-page div.header-introduction div.content h1 {
    font-size: 5rem;
    color: #b50303;
  }
  header.home-page div.header-introduction div.content p {
    font-size: 0.8rem;
    position: static;
  }
  main.home-page div.header-seperator, main.home-page div.service-work-seperator {
    text-align: center;
    padding: 50px 30px;
  }
}

main.work-page div.work-section {
  min-height: 100vh;
  height: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, black), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.1))), url("../../files/about-page.jpg");
  background-image: linear-gradient(to right, black 20%, rgba(0, 0, 0, 0.4)), linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.1)), url("../../files/about-page.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.work-page div.work-section div.works {
  width: 80%;
  margin: 100px 0px;
}

main.work-page div.work-section div.works div.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dotted #b50303;
  padding: 50px 0px;
}

main.work-page div.work-section div.works div.work div.video {
  width: 30%;
}

main.work-page div.work-section div.works div.work div.video div {
  width: 100%;
}

main.work-page div.work-section div.works div.work div.details {
  width: 70%;
  color: white;
  padding: 0px 50px 0px 0px;
}

main.work-page div.work-section div.works div.work div.details p.title {
  font-size: 1.5rem;
  padding: 20px 0px;
  color: #626262;
  font-weight: bold;
}

main.work-page div.work-section div.works div.work div.details p.description {
  font-size: 0.65rem;
}

@media only screen and (max-width: 950px) {
  main.work-page div.work-section div.works div.work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.work-page div.work-section div.works div.work div.video {
    width: 100%;
  }
  main.work-page div.work-section div.works div.work div.video div {
    width: 100%;
  }
  main.work-page div.work-section div.works div.work div.details {
    width: 100%;
    color: white;
    padding: 0px 0px 0px 0px;
  }
  main.work-page div.work-section div.works div.work div.details p.title {
    font-size: 1.2rem;
    padding: 20px 0px;
  }
  main.work-page div.work-section div.works div.work div.details p.description {
    font-size: 0.8rem;
  }
}

main.about-page div.about-section {
  width: 100%;
  min-height: 80vh;
  height: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.1))), url("../../files/about-page.jpg");
  background-image: linear-gradient(to left, black 20%, rgba(0, 0, 0, 0.4)), linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.1)), url("../../files/about-page.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  position: relative;
}

main.about-page div.about-section > div {
  width: 50%;
}

main.about-page div.about-section div.about {
  color: white;
}

main.about-page div.about-section div.about div.description {
  margin: 0px 100px 0px 0px;
  font-size: 0.65rem;
  line-height: 40px;
}

main.about-page div.about-section div.tv {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.about-page div.about-section div.tv div.screen {
  position: absolute;
  width: 58.5%;
  padding-top: 32%;
  margin-bottom: 6%;
  background-color: rgba(255, 255, 255, 0.3);
  animation: tv 0.25s infinite alternate-reverse;
}

main.about-page div.about-section div.tv img {
  width: 60%;
}

main.about-page div.work-section {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, black), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.1))), url("../../files/about-page.jpg");
  background-image: linear-gradient(to right, black 20%, rgba(0, 0, 0, 0.4)), linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.1)), url("../../files/about-page.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.about-page div.work-section > div {
  width: 50%;
}

main.about-page div.work-section div.work-intro {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main.about-page div.work-section div.work-intro p.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b50303;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

main.about-page div.work-section div.work-intro p.message {
  font-size: 0.65rem;
  color: #b3b3b3;
  padding: 50px 70px;
}

main.about-page div.work-section div.work-intro a {
  background-color: #b50303;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 0.75rem;
}

main.about-page div.work-section div.works {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
}

main.about-page div.work-section div.works div.work {
  width: 60%;
  margin: 75px 0px;
  border: none;
}

main.about-page div.work-section div.top-darken, main.about-page div.work-section div.bottom-darken {
  position: absolute;
  width: 100%;
  padding-top: 10%;
  right: 0;
  z-index: 100;
}

main.about-page div.work-section div.top-darken {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

main.about-page div.work-section div.bottom-darken {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

main.about-page div.work-section .keep-scrolling {
  overflow-y: scroll;
  /* Add the ability to scroll y axis*/
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}

main.about-page div.work-section .keep-scrolling::-webkit-scrollbar {
  display: none;
}

main.about-page div.work-section a.all-works-mobile {
  background-color: #b50303;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 0.75rem;
  margin-top: 20px;
  display: none;
}

main.about-page div.service-work-seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
  color: white;
  background-color: black;
  border-style: dotted none;
  border-width: 3px;
  border-color: #b50303;
}

main.about-page div.service-work-seperator div.quote {
  font-size: 0.65rem;
  padding: 0px 0px 5px 0px;
}

main.about-page div.service-work-seperator div.author {
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.4);
}

main.about-page div.team-section {
  min-height: 100vh;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, black), to(#1b1b1b));
  background: linear-gradient(to bottom, black 10%, #1b1b1b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.about-page div.team-section div.team-intro {
  margin-top: 100px;
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

main.about-page div.team-section div.team-intro p.title {
  color: #b50303;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

main.about-page div.team-section div.team-members {
  margin-top: 50px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.about-page div.team-section div.team-members div.member {
  width: 200px;
  margin: 20px;
  text-align: center;
}

main.about-page div.team-section div.team-members div.member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

main.about-page div.team-section div.team-members div.member img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

main.about-page div.team-section div.team-members div.member p.member-name {
  font-size: 1rem;
  color: white;
}

main.about-page div.team-section div.team-members div.member p.member-about {
  font-size: 0.65rem;
  color: #bbbbbb;
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  div.team-section div.team div.team-intro {
    margin: 0px 50px 0px 0px !important;
  }
  div.team-section div.team div.description {
    margin: 0px 50px 0px 0px !important;
  }
  div.work-section div.work-intro a {
    background-color: #b50303;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 60px;
    font-size: 0.75rem;
    padding: 10px 40px;
  }
}

@media only screen and (max-width: 700px) {
  main.about-page div.about-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../../files/about-page.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../files/about-page.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.about-page div.about-section div.about {
    width: 100%;
  }
  main.about-page div.about-section div.about div.description {
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }
  main.about-page div.about-section div.tv {
    display: none;
  }
  main.about-page div.work-section {
    min-height: 100vh;
    height: auto;
    padding-bottom: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../../files/about-page.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../files/about-page.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.about-page div.work-section > div {
    width: 100%;
  }
  main.about-page div.work-section div.work-intro {
    margin-top: 100px;
  }
  main.about-page div.work-section div.work-intro p.title {
    font-size: 1.2rem !important;
  }
  main.about-page div.work-section div.work-intro a.all-works-desktop {
    display: none;
  }
  main.about-page div.work-section div.works {
    height: auto;
  }
  main.about-page div.work-section div.works div.work {
    width: 60%;
    margin: 10px 0px;
  }
  main.about-page div.work-section div.top-darken, main.about-page div.work-section div.bottom-darken {
    display: none;
  }
  main.about-page div.work-section a.all-works-mobile {
    display: inline-block;
    padding: 15px 0px;
    text-align: center;
    width: 60%;
  }
  main.about-page div.team-section {
    padding-bottom: 100px;
  }
  main.about-page div.team-section div.team-intro {
    font-size: 1.2rem !important;
    text-align: center;
  }
  main.about-page div.team-section div.team-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  header div.header-introduction div.content h1 {
    font-size: 5rem;
    color: #b50303;
  }
  header div.header-introduction div.content p {
    font-size: 0.8rem;
    position: static;
  }
  main.about-page div.header-seperator, main.about-page div.service-work-seperator {
    text-align: center;
    padding: 50px 30px;
  }
}

main.contact-page {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.1))), url("../../files/about-page.jpg");
  background-image: linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.4)), linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.1)), url("../../files/about-page.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contact-page div.contact-information-intro, main.contact-page div.rapid-contact-intro, main.contact-page div.address-info {
  color: white;
  font-size: 1rem;
  width: 100%;
}

main.contact-page div.contact-choices {
  width: 80%;
  height: auto;
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.contact-page div.contact-choices > div {
  width: 40%;
}

main.contact-page div.contact-choices div.rapid-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contact-page div.contact-choices div.rapid-contact input, main.contact-page div.contact-choices div.rapid-contact textarea {
  border: none;
  background-color: #171717;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 15px 0px 0px 0px;
  width: 100%;
}

main.contact-page div.contact-choices div.rapid-contact input:focus, main.contact-page div.contact-choices div.rapid-contact textarea:focus {
  outline: none;
}

main.contact-page div.contact-choices div.rapid-contact div.submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contact-page div.contact-choices div.rapid-contact div.submit div.captcha, main.contact-page div.contact-choices div.rapid-contact div.submit input[type="submit"] {
  width: 40%;
}

main.contact-page div.contact-choices div.contact-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contact-page div.contact-choices div.contact-information div.information {
  width: 100%;
}

main.contact-page div.contact-choices div.contact-information div.information div {
  margin-top: 15px;
}

main.contact-page div.contact-choices div.contact-information div.information div span {
  font-size: 0.65rem;
  color: white;
}

main.contact-page div.contact-choices div.contact-information div.information div.social-media {
  color: white;
}

main.contact-page div.contact-choices div.contact-information div.information div.social-media span:nth-of-type(2) a {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 0px 10px 0px 0px;
  position: relative;
  top: 6px;
}

main.contact-page div.contact-choices div.contact-information div.information div span:first-of-type {
  color: #7d7d7d;
}

main.contact-page div.address {
  width: 80%;
}

main.contact-page div.address div.address-info {
  padding: 0px 0px 30px 0px;
}

main.contact-page div.address div.map {
  width: 100%;
}

main.contact-page div.address div.map iframe {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  main.contact-page div.contact-information-intro, main.contact-page div.rapid-contact-intro, main.contact-page div.address-info {
    text-align: center;
  }
  main.contact-page div.contact-choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.contact-page div.contact-choices > div {
    width: 100%;
  }
  main.contact-page div.contact-choices div.rapid-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.contact-page div.contact-choices div.rapid-contact input, main.contact-page div.contact-choices div.rapid-contact textarea {
    border: none;
    background-color: #171717;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 15px 0px 0px 0px;
    width: 100%;
  }
  main.contact-page div.contact-choices div.rapid-contact input:focus, main.contact-page div.contact-choices div.rapid-contact textarea:focus {
    outline: none;
  }
  main.contact-page div.contact-choices div.rapid-contact textarea {
    height: 200px;
  }
  main.contact-page div.contact-choices div.rapid-contact div.submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.contact-page div.contact-choices div.rapid-contact div.submit div.captcha, main.contact-page div.contact-choices div.rapid-contact div.submit input[type="submit"] {
    width: 100%;
  }
  main.contact-page div.contact-choices div.contact-information {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.contact-page div.contact-choices div.contact-information div.information div {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.contact-page div.contact-choices div.contact-information div.information div span {
    font-size: 0.8rem;
    color: white;
  }
  main.contact-page div.contact-choices div.contact-information div.information div.social-media {
    color: white;
  }
  main.contact-page div.contact-choices div.contact-information div.information div.social-media span:nth-of-type(2) a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0px 10px 0px 0px;
    position: relative;
    top: 6px;
  }
  main.contact-page div.contact-choices div.contact-information div.information div span:first-of-type {
    color: #7d7d7d;
    padding: 10px;
  }
  main.contact-page div.address {
    width: 100%;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'myFont';
  direction: rtl;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

p.not-found-message {
  color: white;
}

header.about-page, header.work-page, header.contact-page {
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left bottom, left top, color-stop(20%, black), to(rgba(0, 0, 0, 0.1))), url("../../files/about-page.jpg");
  background-image: linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.4)), linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.1)), url("../../files/about-page.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dotted #b50303;
}

header.about-page p.intro, header.work-page p.intro, header.contact-page p.intro {
  padding: 0px 100px 0px 0px;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

nav {
  width: 50px;
  min-height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 1000;
  left: 0px;
}

nav button.navbar-button {
  width: 100%;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

nav button.navbar-button div {
  height: 3px;
  border-radius: 3px;
  width: 70%;
  background-color: #b8b8b8;
  margin-top: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
}

nav .navbar-button-clicked div {
  margin-top: 20px !important;
}

nav div.navigator {
  margin-top: 10vw;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div.navigator div.navigator-container {
  height: 350px;
  width: 5%;
  background-color: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
}

nav div.navigator div.navigator-container > div {
  width: 10px;
  height: 10px;
  background-color: #670000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 50%;
}

nav div.navigator div.navigator-container > div:hover {
  width: 20px;
  height: 20px;
  background-color: #b50303 !important;
  -webkit-box-shadow: 0px 0px 5px 5px #b50303;
          box-shadow: 0px 0px 5px 5px #b50303;
}

div.menu {
  position: fixed;
  top: -1000px;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-bottom: 3px solid #b50303;
}

div.menu div.options {
  width: 100%;
}

div.menu div.options div.option a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 1rem;
  color: white;
  padding: 25px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
}

div.menu div.options div.option a:hover {
  color: #b50303;
  background-color: black;
}

footer {
  width: 100%;
  background-color: #b50303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

footer div.social-media {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.social-media a {
  font-size: 1rem;
  color: white;
}

footer div.footer-quote {
  width: 50%;
  text-align: center;
  color: white;
}

footer div.footer-quote div.quote {
  font-size: 0.65rem;
  padding: 0px 0px 5px 0px;
}

footer div.footer-quote div.author {
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.4);
}

footer div.footer-logo {
  width: 20%;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.navigator-active {
  width: 20px !important;
  height: 20px !important;
  background-color: #b50303 !important;
  -webkit-box-shadow: 0px 0px 5px 5px #b50303;
          box-shadow: 0px 0px 5px 5px #b50303;
}

.menu-active {
  color: #b50303 !important;
}

@media only screen and (max-width: 700px) {
  header.about-page p.intro, header.work-page p.intro, header.contact-page p.intro {
    width: 100%;
    text-align: center;
    padding: 0px !important;
  }
  nav {
    background-color: transparent;
  }
  nav div.navigator {
    display: none;
  }
  footer {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #b50303;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }
  footer > div {
    margin-top: 30px;
  }
  footer div.social-media {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer div.social-media a {
    font-size: 1.5rem;
    color: white;
  }
  footer div.footer-quote {
    width: 100%;
  }
  footer div.footer-quote div.quote {
    font-size: 0.65rem;
    padding: 0px 0px 5px 0px;
  }
  footer div.footer-quote div.author {
    font-size: 0.8rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.4);
  }
  footer div.footer-logo {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
}
/*# sourceMappingURL=main.css.map */