// importing constants
@import 'constants/fonts';
@import 'constants/colors';
@import 'constants/flex';
@import 'constants/animations';

@import 'home';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'myFont';
    direction: rtl;
}

html, body{
    width: 100%;
    height: 100%;
}